html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}


/* Header */
.header {
  height: 800px;
  text-align: center; 
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg');
}

a{
	line-height:35px;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
	font-size: 80px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
  text-transform: uppercase;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
  text-transform: uppercase;
}

.header a{
	margin: 0 auto;
}

.btn{
		text-decoration: none;
  text-align: center;
	color: white;
  display: block;
  background-color: black;
  width: 140px;
  height: 40px;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav{
	  background-color: black;
}
.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 30px 0;
	text-align: center; 
  color:  white;
}

.nav li{
	display: inline-block;
  font-size: 20px;
}

.nav li a{
	text-decoration: none;
  color: white;
}

/* Main */
.main .container {
	margin: 80px auto;
}

.main img{
	float: left;
  margin:0 80px 0 0;
}


/* Jumbotron */
.jumbotron {
	height: 600px; 
	text-align: right;
    background-image: url('https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg');
  background-size: cover;
  color: white; 
}

.jumbotron h{
	font-size: 30px;
  font-weight: 40;
}

.jumbotron p{
	font-size: 15px;
}

.jumbotron a{
    
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

/* Footer */
.footer { 
  height: 40px;
	font-size: 14px;
  color: white;
  background-color: black;
}

/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}