html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg);
    background-size: cover;
}

.btn {
    background-color: transparent;
    color: #F01251;
    height: 40px;
    width: 110px;
}

.btn:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.btn active:hover {
    background-color: aqua;
    cursor: pointer;
}

.header {
    padding: 50px 30px 50px 30px;
    color: white;
}

.header a {
    font-size: 15px;
}

.header ul {
    list-style: none;
}

.header li {
    display: inline;
}

.main {
    padding: 40px 30px 40px 30px;
}

.footer {
    padding: 100px 10px 100px 10px;
}